/* Estilo del primer Div*/
.caja {
    /*Emmet*/
    /*bgc#15ab86+c#fff+ff:arial+p20+taj+bd:s5px#000*/
    background-color: #15ab86;
    color: #fff;
    font-family: arial;
    padding: 20px;
    text-align: justify;
    border: solid 5px #000;
}

/* Estilo del Sistema de Rejilla */

.row>div {
    /*Emmet*/
    /*bg:#9fff8f+m10+p40+bd:is1px#000*/
    background: #9fff8f;
    margin: 10px;
    padding: 40px;
    border: inset 1px #000;
}