.caja {
    background-color: #15ab5b;
    color: #fff;
    font-family: arial;
    padding: 20px;
    text-align: justify;
    border: solid 5px #000;
}

.columna-interna {
    /*Emmet*/
    /*bg:black+c:white+bd3-s-grey+p10*/
    background: black;
    color: white;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
}