.celeste {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 10px;
}


.gris {
    height: 150px;
    width: 500px;
    background-color: grey;
    margin-left: 450px;
    padding: 10px;
    text-align: center;
    
}

.morado {
    height: 100%;
    width: 1000px;
    background-color: #a10eb5ca;
    margin-left: 250px;
    margin-top: 0px;
}